<template>
  <div class="hello">
    <table border="1">
      <tr>
        <td>
          <code>
            <div>{{ html1 }}</div>
          </code>
        </td>
        <td>
          <!-- Mushtash brace bind the data -->
          <div>{{ msg }}</div>
        </td>
      </tr>
      <tr>
        <td>
          <code>
            <div>{{ html2 }}</div></code
          >
        </td>
        <td>
          <div v-text="msg"></div>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html3 }}</div></code
          >
        </td>
        <td>
          <div v-html="html0"></div>
        </td>
      </tr>
      <tr>
        <td>
          <code
            ><div>{{ html4Text }}</div></code
          >
        </td>
        <td>
          <div v-html="html4"></div>
        </td>
      </tr>
      <tr>
        <td>
          <code
            ><div>{{ html5Text }}</div></code
          >
        </td>
        <td>
          <div v-bind:id="id_100">header with id id_100</div>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html6Text }}<br /><br />{{ html7Text }}</div></code
          >
        </td>
        <td>
          <button v-bind:disabled="isDisabledButton1">
            boolean attribute binding - disabled property of button
          </button>
          <br /><br />
          <button v-bind:disabled="!isDisabledButton1">
            boolean attribute binding - disabled property of button
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html7Text }}</div></code
          >
        </td>
        <td>
          <button v-bind:class="isBold && 'bold-class'">
            attribute binding - class - with condition
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html8Text }}</div></code
          >
        </td>
        <td>
          <button
            v-bind:class="isSoldOut ? 'soldout-class' : 'not-soldout-class'"
          >
            attribute binding if else condition
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html9Text }}</div></code
          >
        </td>
        <td>
          <button v-bind:class="['bold-class', 'italic-class']">
            attribute array
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html10Text }}</div></code
          >
        </td>
        <td>
          <button
            v-bind:class="{
              boldClass: isBold,
              'italic-class': isItalic,
              'color-red': isRed,
            }"
          >
            attribute conditional object
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html11Text }}</div></code
          >
        </td>
        <td>
          <button
            v-bind:style="{
              color: colorVariable,
              'font-size': fontSizeVariable,
              textDecoration: 'line-through',
            }"
          >
            style binding conditional object
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html12Text }}<br /><br />{{ html13Text }}</div></code
          >
        </td>
        <td>
          <button v-bind:style="styleObject1">
            style binding object variable
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <code
            ><div>{{ html14Text }}</div></code
          >
        </td>
        <td>
          <button :style="styleObject2">v-bind:style short hand => :style</button>
        </td>
      </tr>
    </table>

    <hr />
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    greet: String, // property to be passed in the hello world attribute Eg: <HelloWorld msg="Sukesh" greet="Welcome" />
    msg: String,
  },
  data() {
    return {
      headingId: "headingId1",
      html0: "<b>html bold text</b>",
      html1: "<div>{{ msg }}</div>",
      html2: '<div v-text="msg"></div>',
      html3: '<div v-html="html0"></div>',
      html4:
        '<a href="#" onclick="alert(\'you have been hacked\')">Win a price</a>',
      html4Text:
        '<div>{{html4}}</div>, [html4: "<a href="#" onclick="alert(\'you have been hacked\')">Win a price</a>"]',
      html5Text: '<div v-bind:id="id_100">header with id id_100</div>',
      isDisabledButton1: true,
      html6Text:
        '<button v-bind:disabled="isDisabledButton1">boolean attribute binding - disabled property of button</button>',
      html7Text:
        "<button v-bind:class=\"isBold && 'bold-class'\">attribute binding - class - with condition</button>",
      isBold: true,
      isItalic: true,
      isRed: true,
      isSoldOutisSoldOut: true,
      html8Text:
        "<button v-bind:class=\"isSoldOut ? 'soldout-class' : 'not-soldout-class'\">attribute binding if else condition</button>",
      html9Text:
        "<button v-bind:class=\"['bold-class','italic-class']\">attribute array</button>",
      html10Text:
        "<button v-bind:class=\"{ boldClass: isBold, 'italic-class': isItalic, 'color-red' : isRed}\">attribute conditional object</button>",
      html11Text:
        "<button v-bind:style=\"{ color: colorVariable, 'font-size': fontSizeVariable, textDecoration: 'line-through'}\">style binding conditional object</button>",
      styleObject1: {
        color: "green",
        fontSize: "40px",
        textDecoration: "line-through",
      },
      fontSizeVariable: "40px",
      colorVariable: "orange",
      html12Text:
        '<button v-bind:style="styleObject1">style binding object variable</button>',
      html13Text:
        "styleObject1:{ color: \"green\", 'fontSize': \"40px\", textDecoration: 'line-through'}",
      html14Text:
        '<button :style="styleObject1"></button>',
      styleObject2: {
        color: "blue",
        fontSize: "20px",
      },
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>

<style scoped>
table {
  width: 100%;
}
table td {
  width: 50%;
  padding: 10px;
  text-align: left;
}
code {
  font-family: Consolas, "courier new";
  color: blue;
  background-color: #f1f1f1;
  font-size: 75%;
}

.bold-class,
.boldClass {
  font-weight: bold;
}
.italic-class {
  font-style: italic;
}

.sold-class {
  color: red;
}

.not-sold-class {
  color: olivedrab;
}

.color-red {
  color: red;
}
</style>
